

@import url('https://fonts.googleapis.com/css?family=Lora');

@font-face {
  font-family: 'Lora', serif;
  src: url('https://fonts.googleapis.com/css?family=Lora')
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: #292929;
  font-family: 'Lora', serif;
  font-size: 42px;
  margin-top: 40px;
  margin-bottom: 25px;
  font-weight:50;
}

h2 {
  color: #292929;
  font-family: 'Lucida Grande', sans-serif;
  font-weight: bold;
  font-size: 16px;
}
p{
  color: #292929;
  font-family: 'Lucida Grande', sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.headerBoarder {
border-bottom: #F1F1F1 1px solid;
}

.header {
  height: 75px;
  margin-left: 220px;
  margin-right: 220px;
  display: flex;
  justify-content:space-between;
  align-items: center;

}

.header a {
  font-family: 'Lucida Grande', sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #6B6B6B;
  text-decoration: none;
  font-weight: lighter;
}

.header a:hover {
  text-decoration: underline;
}

.container {
  margin-left: 220px;
  margin-right: 220px;
}

.getStartedButton, .learnMoreButton, .getStartedHeaderButton {
  font-family: 'Lucida Grande', sans-serif;
  font-size: 12px;
  font-weight: lighter;
  border-radius: 5px;
  padding: 7px 16px;
}

.getStartedHeaderButton {
  color: #E2F8F2;
  background-color: #00B17E;
  border: none;
  margin-left: 30px;
  height: 35px;
  width: 100px;
}

.hero {
  display: flex;
  flex-direction: row;
  /* margin-left: 220px;
  margin-right: 220px; */
  border-bottom: #F1F1F1 1px solid;
}
.leftHero, .rightHero {
  width:50%;
  height: auto;
}

.rightHero img {
  width: 70%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  float:right;
}

.buttons{
  margin-top: 40px;
  margin-bottom: 40px;
}

.getStartedButton {
  color: white;
  background-color: black;
  border: black 1px solid;
  margin-right: 10px;
}
.learnMoreButton {
  color: black;
  background-color: white;
  border: black 1px solid;
}

.grid {
  width: 100%;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  padding-bottom: 40px;
}

.box {
  width: 488px;
  height: 255px;
  border: lightgray 1px solid;
  display: flex;
  margin-top: 20px;
}

.boxImage {
  width: 200px;
  height: 255px;
  overflow: hidden;
}

.box img {
  height: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
}
.textBox {
  width: 288px;
  padding: 16px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;

}
.box p {
  color: #6B6B6B;
  font-size: 11px
}
.writerBox {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
}
.writerBox img {
  border-radius: 50%;
}
.writerBox p {
  line-height: 0.5;
  padding-left: 5px;
}
